html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.table, td, tr{
  border:5px solid rgb(79, 79, 172);
  border-collapse: collapse;
  background-color: rgb(79, 79, 172);
}

td{
   text-align: center;
}

.table{
   box-shadow:0px 0px 22px 0px rgba(0,0,0,0.75);
}

.thiscontainer{
   background-image: url("/images/alphabet-blocks-blur-591652.jpg");
   background-repeat:no-repeat;
   background-size:100% 100%;
   min-height:100vh;
   position:relative;
}

.container{
   background-color: transparent;
   
   position:relative;
}
.navbar{
  height:50px;
  font-size: 50px;
} 

.red{
   color: red;
}

.yellow{
   color:yellow;
}

.rowform{
   padding-top: 20px;
}
